@charset "utf-8";

html {
  font-size: 62.5%;
  background: #151515 url("../images/bg.jpg") no-repeat fixed left bottom;
  background-size: cover;
}
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  height: 100%;
  background: rgba(10, 10, 10, 0.3);
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: "Raleway, Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.past-portpholio {
  text-align: left;
  padding: 10px;
  font-size: 1.8rem;
}
.past-portpholio a {
  text-decoration: none;
}
.past-portpholio a:visited {
  color: #fff;
}
.past-portpholio a:hover {
  opacity: 0.6;
}

.profile-image {
  display: inline-block;
  width: 150px;
  border-radius: 50%;
  margin: 30px;
  vertical-align: middle;
}
.header {
  padding: 80px 30px 80px;
}
.site__title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.5rem;
}
.site__title-sub::before,
.site__title-sub::after {
  content: "";
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}
.site__title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
}
.site__description {
  margin-bottom: 50px;
  color: #ccc;
  font-size: 1.6rem;
}
.buttons__button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.buttons__button:hover {
  opacity: 0.8;
}
.button_showy {
  background-color: #f1b400;
}
.buttons .buttons__button {
  margin: 10px;
}

/* ABOUTセクション */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}
.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.heading:hover {
  color: salmon;
  font-size: 4.1rem;
}
.heading::before,
.heading::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #999;
}
.heading::before {
  bottom: 5px;
}
.about__text {
  margin: 30px 0;
  line-height: 2.5;
}

/* WORKSセクション */
.works {
  background-color: #383634;
  padding: 80px 0 200px;
}
.works-wrapper {
  display: table;
  width: 100%;
  margin-top: 60px;
  table-layout: fixed;
}
.work-box {
  position: relative;
  display: table-cell;
}
.work-box::after {
  content: "";
  /* position:absolute によって displayが自動的にblockになる */
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  /* 要素が絶対値指定されているときはheightを%指定できる(親要素でheightがpx指定されていてもできる) */
  height: 100%;
  background: rgba(0, 140, 230, 0.7);
  background-size: 100% 100%;
  opacity: 0.2;
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}
.work-image {
  display: block;
  width: 100%;
  margin: 0 0 60%;
  background-size: auto;
}
.work-description {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}
.work-description__inner {
  display: table;
  width: 100%;
  height: 100%;
  padding: 12%;
}
.work-description__text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-description__text b {
  font-size: 1.5rem;
}
.works__button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.works__button:hover {
  opacity: 0.8;
}
.work-description__text .works__button {
  width: 60%;
  margin-top: 20%;
  padding: 3px;
}
.button_ghost {
  border: 1px solid #fff;
  background-color: rgba(255, 255, 255, 0.15);
}

/* SEKILLSセクション */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}
.skills-wrapper {
  display: table;
  width: 85%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}
.skill__icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
.skill__title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.skill__text {
  margin: 0 20px;
  line-height: 2;
}
#skills__dialog-open,
#skills__dialog-close {
  background-color: #fff;
  outline: none;
  margin: 50px 0 0;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  border: #f1b400 4px solid;
  letter-spacing: 1px;
  font-size: 100%;
}
#skills__dialog-close {
  border: 4px solid;
  vertical-align: middle;
}
#skills__dialog-open:hover,
#skills__dialog-close:hover {
  opacity: 0.4;
}
.skills__dialog__text {
  display: block;
  margin: 10px 0 0;
  text-align: left;
  font-size: 1.4rem;
  line-height: 2;
}
#overlay {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.65);
}
#skills__dialog {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 90%;
  padding: 20px;
  border-radius: 8px;
  background-color: #fff;
}
.skills__dialog__text {
  text-align: left;
  line-height: 1.7;
}
.active {
  display: block !important;
}

/* CONTACTセクション */
.contact {
  padding: 80px 0 150px;
  background-color: #383634;
}
.external-page {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.external-page a {
  display: table-cell;
}
.external-page__icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #fff;
  font-size: 8rem;
  line-height: 142px;
  -webkit-transition: all 0.15s;
  transition: all 0.15s;
}
.external-page__icon:hover {
  color: #2f7fff;
  font-size: 1.5;
}

.footer {
  background-color: #fff;
  padding: 12px 0;
  font-size: 1.3rem;
  color: #333;
}

/* --------------------------------
 * smart phone
 * -------------------------------- */
@media (max-width: 768px) {
  html {
    background-image: none;
  }
  body {
    font-size: 1.3rem;
  }
  .heading {
    margin-top: 20px;
    font-size: 2.5rem;
  }
  .buttons__button:hover,
  .works__button:hover {
    opacity: 1;
  }

  /* --- header --- */
  .header {
    padding-top: 60px;
  }
  .site__title-sub {
    font-size: 1.7rem;
  }
  .site__title-sub::before,
  .site__title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site__title {
    margin-top: 35px;
    font-size: 5rem;
  }

  /* --- about --- */
  .about__text {
    line-height: 1.8;
  }

  /* --- works --- */
  .works {
    padding-bottom: 80px;
  }
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background: no-repeat;
    background-size: cover;
    -webkit-transform: none;
    transform: none;
  }
  .unity::after {
    background-image: url("../images/unity.png");
  }
  .shift::after {
    background-image: url("../images/shift.png");
  }
  .beyond::after {
    background-image: url("../images/beyond.png");
  }
  .todo::after {
    background-image: url("../images/todo.jpg");
  }

  /* --- skills --- */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill__icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill__text {
    margin: 0;
  }

  /* --- contact --- */
  .contact {
    padding-bottom: 80px;
  }
  .external-page {
    display: block;
  }
  .external-page a {
    display: inline-block;
    margin: 10px;
  }
  .external-page__icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
}
